@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;

@layer components {
    .glassmorphism-dark {
        /* From https://css.glass */
        background: rgba(22, 15, 61, 0.21);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
        border: 1px solid rgba(22, 15, 61, 0.53);
    }

    .glassmorphism-light {
        /* From https://css.glass */
        background: rgba(188, 188, 188, 0.21);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
        border: 1px solid rgba(188, 188, 188, 0.53);
    }
}

@tailwind utilities;
